        /* Reset e estilos gerais */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
            color: #333;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }



        /* ----- Header ----- */

        header {
            background-color: #202024;
            color: #ecf0f1;
            padding: 5px 0;
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 1000;
            transition: background-color 0.3s ease;
        }

        header.scrolled {
            background-color: #202024;
        }

        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .logo img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        nav ul {
            display: flex;
            list-style: none;
        }

        nav ul li {
            margin-left: 20px;
        }

        nav ul li a {
            color: #ecf0f1;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s ease;
        }

        nav ul li a:hover {
            color: #3498db;
        }




        /* ----- Hero Section ----- */

        .hero {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('imagens/banner.jpg') no-repeat center center/cover;
            height: 100vh;
            color: #fff;
            display: flex;
            align-items: center;
            text-align: center;
        }

        .hero-content {
            max-width: 800px;
            margin: 0 auto;
        }

        .hero h1 {
            font-size: 3.4rem;
            margin-bottom: 20px;
        }

        .hero p {
            font-size: 1.4rem;
            margin-bottom: 30px;
        }

        .btn {
            display: inline-block;
            background: #202024;
            color: #fff;
            padding: 10px 30px;
            margin: 10px;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            transition: background 0.3s ease;
        }

        .btn:hover {
            /* background: #2980b9; */
            color: #2980b9;
            font-weight: 700;
        }


        /* EFEITO ESCREVER NO TITLE */

        #typing-text::after {
            content: '|';
            animation: blink 0.7s infinite;
        }

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }


        /* ----- Sobre Mim ----- */

        .about {
            padding: 100px 0;
            background-color: #fff;
        }

        .about-content {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        .about-image {
            flex: 1;
        }

        .about-image img {
            max-width: 100%;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .about-text {
            flex: 2;
        }

        .about h2 {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: #202024;
        }



        /* ----- Conhecimentos ----- */

        .skills {
            padding: 100px 0;
            background-color: #f9f9f9;
        }

        .skills h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 50px;
            color: #202024;
        }

        .skills-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }

        .skill-card {
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
            text-align: center;
            width: 200px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            cursor: pointer;
        }

        .skill-card:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .skill-card i {
            font-size: 3rem;
            margin-bottom: 20px;
            color: #3498db;
        }

        .skill-card h3 {
            font-size: 1.2rem;
            color: #202024;
        }



        /* ----- Experiência ----- */

        .experience {
            padding: 100px 0;
            background-color: #fff;
        }

        .experience h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 50px;
            color: #202024;
        }

        .timeline {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
        }

        .timeline::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: #3498db;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }

        .timeline-item {
            padding: 10px 40px;
            position: relative;
            background-color: inherit;
            width: 50%;
        }

        .timeline-item::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            right: -17px;
            background-color: #fff;
            border: 4px solid #3498db;
            top: 15px;
            border-radius: 50%;
            z-index: 1;
        }

        .left {
            left: 0;
        }

        .right {
            left: 50%;
        }

        .left::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            right: 30px;
            border: medium solid #fff;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent #fff;
        }

        .right::before {
            content: " ";
            height: 0;
            position: absolute;
            top: 22px;
            width: 0;
            z-index: 1;
            left: 30px;
            border: medium solid #fff;
            border-width: 10px 10px 10px 0;
            border-color: transparent #fff transparent transparent;
        }

        .right::after {
            left: -16px;
        }

        .timeline-content {
            padding: 20px 30px;
            background-color: #fff;
            position: relative;
            border-radius: 6px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .timeline-content li {
            padding: 5px 0px;
        }

        /* Footer */
        footer {
            background-color: #202024;
            color: #ecf0f1;
            padding: 50px 0;
            text-align: center;
        }

        .social-links {
            margin-top: 30px;
        }

        .social-links a {
            color: #ecf0f1;
            font-size: 1.5rem;
            margin: 0 10px;
            transition: color 0.3s ease;
        }

        .social-links a:hover {
            color: #3498db;
        }

        /* Responsividade */
        @media (max-width: 768px) {
            .header-content {
                flex-direction: column;
            }

            nav ul {
                margin-top: 20px;
            }

            .about-content {
                flex-direction: column;
            }

            .timeline::after {
                left: 31px;
            }

            .timeline-item {
                width: 100%;
                padding-left: 70px;
                padding-right: 25px;
            }

            .timeline-item::before {
                left: 60px;
                border: medium solid #fff;
                border-width: 10px 10px 10px 0;
                border-color: transparent #fff transparent transparent;
            }

            .left::after,
            .right::after {
                left: 15px;
            }

            .right {
                left: 0%;
            }
        }


        /* ----- Academic ----- */

        /* Estilos para a seção Acadêmica */
        .academic {
            padding: 100px 0;
            background-color: #f9f9f9;
        }

        .academic h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 50px;
            color: #202024;
        }

        .carousel {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
            overflow: hidden;
        }

        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease;
        }

        .carousel-item {
            flex: 0 0 100%;
            padding: 40px 100px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        }

        .carousel-item h3 {
            margin-top: 0;
            color: #3498db;
        }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: #3498db;
            color: #fff;
            border: none;
            padding: 10px 15px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
        }

        .carousel-control.prev {
            left: 10px;
        }

        .carousel-control.next {
            right: 10px;
        }